body {
	background: #e6e4e4;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
#top-line {
	background: #323030;
	height: 5px;
}

#header {
	height: 100px;
	margin: 0 auto;
	width:1200px;
}

#logo {
	background: url(/images/logo.png) top left no-repeat;
	width: 190px;
	height: 100px;
	display: block;
	float: left;
}

#call1 {
	font-size: 30px;
	color: #7e7b7b;
	width: 200px;
	text-align: center;
	padding-top: 21px;
	float: left;
	height: 60px;
}
#top-menu {
	width: 810px;
	height: 33px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	background: #323030;
	background: linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -moz-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -o-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -webkit-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	border-radius: 0 0 3px 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 7px;
	float: bottom;
}
#top-menu a{
	background: #323030;
	background: linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -moz-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -o-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	background: -webkit-linear-gradient(-90deg, #323030 10%, #534f4f 80%);
	color: #fff;
	padding: 8px 28px;
	display: inline-block;
}

#top-menu a:hover{
	color: #758395;
	text-decoration: underline;
	background: #323030;
}

.top-menu-line{
	width: 2px;
	height: 33px;
	display: inline-block;
	margin-bottom: -3px;
}

#content {
	width:1200px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 5px 20px #423f3f;
	padding: 20px 0;
	display: table;
}

#leftblock {
	width: 250px;
	float: left;
}

.cat-title {
	width: 250px;
	height: 36px;
	background: url(/images/cat-bg.png) top center repeat-y;
	display: table-cell;
	vertical-align: middle;
	color: #333131;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.brands {
	width: 234px;
	padding-left: 16px;
	margin-top: 5px;
}

.brands a{
	display: block;
	margin: 10px 0;
	color: #000;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.brands a:hover{
	padding-left: 10px;
}

.form {
	border-radius:4px;
	background: linear-gradient(-90deg, #797979 10%, #A0A0A0 80%);
	background: -moz-linear-gradient(-90deg, #797979 10%, #A0A0A0 80%);
	background: -o-linear-gradient(-90deg, #797979 10%, #A0A0A0 80%);
	background: -webkit-linear-gradient(-90deg, #797979 10%, #A0A0A0 80%);
}

#rightblock {
	width: 890px;
	float: left;
	padding-left: 60px;

}

.social {
	float:left;
	margin-top:20px;
}

#profile {
	width: 250px;
	height: 500px;
	background: #999;
}

.bshop {
	width: 420px;
	float: left;
	background: #999;
	margin: 10px 12px;
}

.bshop h3{
	text-align: center;
}

.bshop button{
	background: #666;
	color: #fff;
	border-radius: 15px;
	width: 220px;
	height: 35px;
	margin-left: 40px;
	margin-bottom: 10px;
	border: 1px solid #fff;
}

.rab_logo {
	margin: 19px 0;
	width: 121px;
	height: 132px;
	background: url(/images/question.png) center left no-repeat;
	float: left;
}

.storage {
	height: 120px;
	width: 272px;
	margin: 10px 12px;
	float: left;
}

.storage1 {
	height: 120px;
	width: 272px;
	margin: 10px 12px;
	float: left;
}